<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SRGMS.dao.DsdetailMapper">
  <resultMap id="BaseResultMap" type="com.SRGMS.model.Dsdetail">
    <id column="DSDetailId" jdbcType="INTEGER" property="dsdetailid" />
    <result column="DSId" jdbcType="INTEGER" property="dsid" />
    <result column="TimeValue" jdbcType="DOUBLE" property="timevalue" />
    <result column="MNum" jdbcType="DOUBLE" property="mnum" />
    <result column="WNum" jdbcType="DOUBLE" property="wnum" />
    <result column="CNum" jdbcType="DOUBLE" property="cnum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DSDetailId, DSId, TimeValue, MNum, WNum, CNum
  </sql>
  <select id="selectByExample" parameterType="com.SRGMS.model.DsdetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dsdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dsdetail
    where DSDetailId = #{dsdetailid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dsdetail
    where DSDetailId = #{dsdetailid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.SRGMS.model.DsdetailExample">
    delete from dsdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.SRGMS.model.Dsdetail">
    insert into dsdetail (DSDetailId, DSId, TimeValue, 
      MNum, WNum, CNum)
    values (#{dsdetailid,jdbcType=INTEGER}, #{dsid,jdbcType=INTEGER}, #{timevalue,jdbcType=DOUBLE}, 
      #{mnum,jdbcType=DOUBLE}, #{wnum,jdbcType=DOUBLE}, #{cnum,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.SRGMS.model.Dsdetail">
    insert into dsdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dsdetailid != null">
        DSDetailId,
      </if>
      <if test="dsid != null">
        DSId,
      </if>
      <if test="timevalue != null">
        TimeValue,
      </if>
      <if test="mnum != null">
        MNum,
      </if>
      <if test="wnum != null">
        WNum,
      </if>
      <if test="cnum != null">
        CNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dsdetailid != null">
        #{dsdetailid,jdbcType=INTEGER},
      </if>
      <if test="dsid != null">
        #{dsid,jdbcType=INTEGER},
      </if>
      <if test="timevalue != null">
        #{timevalue,jdbcType=DOUBLE},
      </if>
      <if test="mnum != null">
        #{mnum,jdbcType=DOUBLE},
      </if>
      <if test="wnum != null">
        #{wnum,jdbcType=DOUBLE},
      </if>
      <if test="cnum != null">
        #{cnum,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.SRGMS.model.DsdetailExample" resultType="java.lang.Long">
    select count(*) from dsdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dsdetail
    <set>
      <if test="record.dsdetailid != null">
        DSDetailId = #{record.dsdetailid,jdbcType=INTEGER},
      </if>
      <if test="record.dsid != null">
        DSId = #{record.dsid,jdbcType=INTEGER},
      </if>
      <if test="record.timevalue != null">
        TimeValue = #{record.timevalue,jdbcType=DOUBLE},
      </if>
      <if test="record.mnum != null">
        MNum = #{record.mnum,jdbcType=DOUBLE},
      </if>
      <if test="record.wnum != null">
        WNum = #{record.wnum,jdbcType=DOUBLE},
      </if>
      <if test="record.cnum != null">
        CNum = #{record.cnum,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dsdetail
    set DSDetailId = #{record.dsdetailid,jdbcType=INTEGER},
      DSId = #{record.dsid,jdbcType=INTEGER},
      TimeValue = #{record.timevalue,jdbcType=DOUBLE},
      MNum = #{record.mnum,jdbcType=DOUBLE},
      WNum = #{record.wnum,jdbcType=DOUBLE},
      CNum = #{record.cnum,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.SRGMS.model.Dsdetail">
    update dsdetail
    <set>
      <if test="dsid != null">
        DSId = #{dsid,jdbcType=INTEGER},
      </if>
      <if test="timevalue != null">
        TimeValue = #{timevalue,jdbcType=DOUBLE},
      </if>
      <if test="mnum != null">
        MNum = #{mnum,jdbcType=DOUBLE},
      </if>
      <if test="wnum != null">
        WNum = #{wnum,jdbcType=DOUBLE},
      </if>
      <if test="cnum != null">
        CNum = #{cnum,jdbcType=DOUBLE},
      </if>
    </set>
    where DSDetailId = #{dsdetailid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.SRGMS.model.Dsdetail">
    update dsdetail
    set DSId = #{dsid,jdbcType=INTEGER},
      TimeValue = #{timevalue,jdbcType=DOUBLE},
      MNum = #{mnum,jdbcType=DOUBLE},
      WNum = #{wnum,jdbcType=DOUBLE},
      CNum = #{cnum,jdbcType=DOUBLE}
    where DSDetailId = #{dsdetailid,jdbcType=INTEGER}
  </update>
</mapper>