<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SRGMS.dao.SrgmsMapper">
  <resultMap id="BaseResultMap" type="com.SRGMS.model.Srgms">
    <id column="SRGMId" jdbcType="INTEGER" property="srgmid" />
    <result column="SRGMName" jdbcType="VARCHAR" property="srgmname" />
    <result column="SRGMTypeId" jdbcType="INTEGER" property="srgmtypeid" />
    <result column="Publication" jdbcType="VARCHAR" property="publication" />
    <result column="UserId" jdbcType="INTEGER" property="userid" />
    <result column="EmeterNum" jdbcType="INTEGER" property="emeternum" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.SRGMS.model.SrgmsWithBLOBs">
    <result column="Expression" jdbcType="LONGVARCHAR" property="expression" />
    <result column="Description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SRGMId, SRGMName, SRGMTypeId, Publication, UserId, EmeterNum
  </sql>
  <sql id="Blob_Column_List">
    Expression, Description
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.SRGMS.model.SrgmsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from srgms
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.SRGMS.model.SrgmsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from srgms
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from srgms
    where SRGMId = #{srgmid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from srgms
    where SRGMId = #{srgmid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.SRGMS.model.SrgmsExample">
    delete from srgms
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.SRGMS.model.SrgmsWithBLOBs">
    insert into srgms (SRGMId, SRGMName, SRGMTypeId, 
      Publication, UserId, EmeterNum, 
      Expression, Description)
    values (#{srgmid,jdbcType=INTEGER}, #{srgmname,jdbcType=VARCHAR}, #{srgmtypeid,jdbcType=INTEGER}, 
      #{publication,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{emeternum,jdbcType=INTEGER}, 
      #{expression,jdbcType=LONGVARCHAR}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.SRGMS.model.SrgmsWithBLOBs">
    insert into srgms
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="srgmid != null">
        SRGMId,
      </if>
      <if test="srgmname != null">
        SRGMName,
      </if>
      <if test="srgmtypeid != null">
        SRGMTypeId,
      </if>
      <if test="publication != null">
        Publication,
      </if>
      <if test="userid != null">
        UserId,
      </if>
      <if test="emeternum != null">
        EmeterNum,
      </if>
      <if test="expression != null">
        Expression,
      </if>
      <if test="description != null">
        Description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="srgmid != null">
        #{srgmid,jdbcType=INTEGER},
      </if>
      <if test="srgmname != null">
        #{srgmname,jdbcType=VARCHAR},
      </if>
      <if test="srgmtypeid != null">
        #{srgmtypeid,jdbcType=INTEGER},
      </if>
      <if test="publication != null">
        #{publication,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="emeternum != null">
        #{emeternum,jdbcType=INTEGER},
      </if>
      <if test="expression != null">
        #{expression,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.SRGMS.model.SrgmsExample" resultType="java.lang.Long">
    select count(*) from srgms
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update srgms
    <set>
      <if test="record.srgmid != null">
        SRGMId = #{record.srgmid,jdbcType=INTEGER},
      </if>
      <if test="record.srgmname != null">
        SRGMName = #{record.srgmname,jdbcType=VARCHAR},
      </if>
      <if test="record.srgmtypeid != null">
        SRGMTypeId = #{record.srgmtypeid,jdbcType=INTEGER},
      </if>
      <if test="record.publication != null">
        Publication = #{record.publication,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        UserId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.emeternum != null">
        EmeterNum = #{record.emeternum,jdbcType=INTEGER},
      </if>
      <if test="record.expression != null">
        Expression = #{record.expression,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.description != null">
        Description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update srgms
    set SRGMId = #{record.srgmid,jdbcType=INTEGER},
      SRGMName = #{record.srgmname,jdbcType=VARCHAR},
      SRGMTypeId = #{record.srgmtypeid,jdbcType=INTEGER},
      Publication = #{record.publication,jdbcType=VARCHAR},
      UserId = #{record.userid,jdbcType=INTEGER},
      EmeterNum = #{record.emeternum,jdbcType=INTEGER},
      Expression = #{record.expression,jdbcType=LONGVARCHAR},
      Description = #{record.description,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update srgms
    set SRGMId = #{record.srgmid,jdbcType=INTEGER},
      SRGMName = #{record.srgmname,jdbcType=VARCHAR},
      SRGMTypeId = #{record.srgmtypeid,jdbcType=INTEGER},
      Publication = #{record.publication,jdbcType=VARCHAR},
      UserId = #{record.userid,jdbcType=INTEGER},
      EmeterNum = #{record.emeternum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.SRGMS.model.SrgmsWithBLOBs">
    update srgms
    <set>
      <if test="srgmname != null">
        SRGMName = #{srgmname,jdbcType=VARCHAR},
      </if>
      <if test="srgmtypeid != null">
        SRGMTypeId = #{srgmtypeid,jdbcType=INTEGER},
      </if>
      <if test="publication != null">
        Publication = #{publication,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        UserId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="emeternum != null">
        EmeterNum = #{emeternum,jdbcType=INTEGER},
      </if>
      <if test="expression != null">
        Expression = #{expression,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null">
        Description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SRGMId = #{srgmid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.SRGMS.model.SrgmsWithBLOBs">
    update srgms
    set SRGMName = #{srgmname,jdbcType=VARCHAR},
      SRGMTypeId = #{srgmtypeid,jdbcType=INTEGER},
      Publication = #{publication,jdbcType=VARCHAR},
      UserId = #{userid,jdbcType=INTEGER},
      EmeterNum = #{emeternum,jdbcType=INTEGER},
      Expression = #{expression,jdbcType=LONGVARCHAR},
      Description = #{description,jdbcType=LONGVARCHAR}
    where SRGMId = #{srgmid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.SRGMS.model.Srgms">
    update srgms
    set SRGMName = #{srgmname,jdbcType=VARCHAR},
      SRGMTypeId = #{srgmtypeid,jdbcType=INTEGER},
      Publication = #{publication,jdbcType=VARCHAR},
      UserId = #{userid,jdbcType=INTEGER},
      EmeterNum = #{emeternum,jdbcType=INTEGER}
    where SRGMId = #{srgmid,jdbcType=INTEGER}
  </update>
</mapper>