<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.testOnline.dao.QuestionOptionMapper">
  <resultMap id="BaseResultMap" type="com.testOnline.model.QuestionOption">
    <id column="option_id" jdbcType="INTEGER" property="optionId" />
    <result column="que_id" jdbcType="INTEGER" property="queId" />
    <result column="option_info" jdbcType="VARCHAR" property="optionInfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    option_id, que_id, option_info
  </sql>
  <select id="selectByExample" parameterType="com.testOnline.model.QuestionOptionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from question_option
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from question_option
    where option_id = #{optionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from question_option
    where option_id = #{optionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.testOnline.model.QuestionOptionExample">
    delete from question_option
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.testOnline.model.QuestionOption">
    insert into question_option (option_id, que_id, option_info
      )
    values (#{optionId,jdbcType=INTEGER}, #{queId,jdbcType=INTEGER}, #{optionInfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.testOnline.model.QuestionOption">
    insert into question_option
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="optionId != null">
        option_id,
      </if>
      <if test="queId != null">
        que_id,
      </if>
      <if test="optionInfo != null">
        option_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="optionId != null">
        #{optionId,jdbcType=INTEGER},
      </if>
      <if test="queId != null">
        #{queId,jdbcType=INTEGER},
      </if>
      <if test="optionInfo != null">
        #{optionInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.testOnline.model.QuestionOptionExample" resultType="java.lang.Long">
    select count(*) from question_option
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update question_option
    <set>
      <if test="record.optionId != null">
        option_id = #{record.optionId,jdbcType=INTEGER},
      </if>
      <if test="record.queId != null">
        que_id = #{record.queId,jdbcType=INTEGER},
      </if>
      <if test="record.optionInfo != null">
        option_info = #{record.optionInfo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update question_option
    set option_id = #{record.optionId,jdbcType=INTEGER},
      que_id = #{record.queId,jdbcType=INTEGER},
      option_info = #{record.optionInfo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.testOnline.model.QuestionOption">
    update question_option
    <set>
      <if test="queId != null">
        que_id = #{queId,jdbcType=INTEGER},
      </if>
      <if test="optionInfo != null">
        option_info = #{optionInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where option_id = #{optionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.testOnline.model.QuestionOption">
    update question_option
    set que_id = #{queId,jdbcType=INTEGER},
      option_info = #{optionInfo,jdbcType=VARCHAR}
    where option_id = #{optionId,jdbcType=INTEGER}
  </update>
</mapper>