<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SRGMS.dao.FitdetailMapper">
  <resultMap id="BaseResultMap" type="com.SRGMS.model.Fitdetail">
    <id column="FitDetailId" jdbcType="INTEGER" property="fitdetailid" />
    <result column="FitId" jdbcType="INTEGER" property="fitid" />
    <result column="EmeterId" jdbcType="INTEGER" property="emeterid" />
    <result column="Value" jdbcType="DOUBLE" property="value" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    FitDetailId, FitId, EmeterId, Value
  </sql>
  <select id="selectByExample" parameterType="com.SRGMS.model.FitdetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fitdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fitdetail
    where FitDetailId = #{fitdetailid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fitdetail
    where FitDetailId = #{fitdetailid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.SRGMS.model.FitdetailExample">
    delete from fitdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.SRGMS.model.Fitdetail">
    insert into fitdetail (FitDetailId, FitId, EmeterId, 
      Value)
    values (#{fitdetailid,jdbcType=INTEGER}, #{fitid,jdbcType=INTEGER}, #{emeterid,jdbcType=INTEGER}, 
      #{value,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.SRGMS.model.Fitdetail">
    insert into fitdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fitdetailid != null">
        FitDetailId,
      </if>
      <if test="fitid != null">
        FitId,
      </if>
      <if test="emeterid != null">
        EmeterId,
      </if>
      <if test="value != null">
        Value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fitdetailid != null">
        #{fitdetailid,jdbcType=INTEGER},
      </if>
      <if test="fitid != null">
        #{fitid,jdbcType=INTEGER},
      </if>
      <if test="emeterid != null">
        #{emeterid,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.SRGMS.model.FitdetailExample" resultType="java.lang.Long">
    select count(*) from fitdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fitdetail
    <set>
      <if test="record.fitdetailid != null">
        FitDetailId = #{record.fitdetailid,jdbcType=INTEGER},
      </if>
      <if test="record.fitid != null">
        FitId = #{record.fitid,jdbcType=INTEGER},
      </if>
      <if test="record.emeterid != null">
        EmeterId = #{record.emeterid,jdbcType=INTEGER},
      </if>
      <if test="record.value != null">
        Value = #{record.value,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fitdetail
    set FitDetailId = #{record.fitdetailid,jdbcType=INTEGER},
      FitId = #{record.fitid,jdbcType=INTEGER},
      EmeterId = #{record.emeterid,jdbcType=INTEGER},
      Value = #{record.value,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.SRGMS.model.Fitdetail">
    update fitdetail
    <set>
      <if test="fitid != null">
        FitId = #{fitid,jdbcType=INTEGER},
      </if>
      <if test="emeterid != null">
        EmeterId = #{emeterid,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        Value = #{value,jdbcType=DOUBLE},
      </if>
    </set>
    where FitDetailId = #{fitdetailid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.SRGMS.model.Fitdetail">
    update fitdetail
    set FitId = #{fitid,jdbcType=INTEGER},
      EmeterId = #{emeterid,jdbcType=INTEGER},
      Value = #{value,jdbcType=DOUBLE}
    where FitDetailId = #{fitdetailid,jdbcType=INTEGER}
  </update>
</mapper>