<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SRGMS.dao.RedataMapper">
  <resultMap id="BaseResultMap" type="com.SRGMS.model.Redata">
    <id column="reDataId" jdbcType="INTEGER" property="redataid" />
    <result column="timeValue" jdbcType="DOUBLE" property="timevalue" />
    <result column="value" jdbcType="DOUBLE" property="value" />
    <result column="fitId_re" jdbcType="INTEGER" property="fitidRe" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    reDataId, timeValue, value, fitId_re
  </sql>
  <select id="selectByExample" parameterType="com.SRGMS.model.RedataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from redata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from redata
    where reDataId = #{redataid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from redata
    where reDataId = #{redataid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.SRGMS.model.RedataExample">
    delete from redata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.SRGMS.model.Redata">
    insert into redata (reDataId, timeValue, value, 
      fitId_re)
    values (#{redataid,jdbcType=INTEGER}, #{timevalue,jdbcType=DOUBLE}, #{value,jdbcType=DOUBLE}, 
      #{fitidRe,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.SRGMS.model.Redata">
    insert into redata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="redataid != null">
        reDataId,
      </if>
      <if test="timevalue != null">
        timeValue,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="fitidRe != null">
        fitId_re,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="redataid != null">
        #{redataid,jdbcType=INTEGER},
      </if>
      <if test="timevalue != null">
        #{timevalue,jdbcType=DOUBLE},
      </if>
      <if test="value != null">
        #{value,jdbcType=DOUBLE},
      </if>
      <if test="fitidRe != null">
        #{fitidRe,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.SRGMS.model.RedataExample" resultType="java.lang.Long">
    select count(*) from redata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update redata
    <set>
      <if test="record.redataid != null">
        reDataId = #{record.redataid,jdbcType=INTEGER},
      </if>
      <if test="record.timevalue != null">
        timeValue = #{record.timevalue,jdbcType=DOUBLE},
      </if>
      <if test="record.value != null">
        value = #{record.value,jdbcType=DOUBLE},
      </if>
      <if test="record.fitidRe != null">
        fitId_re = #{record.fitidRe,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update redata
    set reDataId = #{record.redataid,jdbcType=INTEGER},
      timeValue = #{record.timevalue,jdbcType=DOUBLE},
      value = #{record.value,jdbcType=DOUBLE},
      fitId_re = #{record.fitidRe,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.SRGMS.model.Redata">
    update redata
    <set>
      <if test="timevalue != null">
        timeValue = #{timevalue,jdbcType=DOUBLE},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=DOUBLE},
      </if>
      <if test="fitidRe != null">
        fitId_re = #{fitidRe,jdbcType=INTEGER},
      </if>
    </set>
    where reDataId = #{redataid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.SRGMS.model.Redata">
    update redata
    set timeValue = #{timevalue,jdbcType=DOUBLE},
      value = #{value,jdbcType=DOUBLE},
      fitId_re = #{fitidRe,jdbcType=INTEGER}
    where reDataId = #{redataid,jdbcType=INTEGER}
  </update>
</mapper>