<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SRGMS.dao.SrgmDsMapMapper">
  <resultMap id="BaseResultMap" type="com.SRGMS.model.SrgmDsMap">
    <id column="MapId" jdbcType="INTEGER" property="mapid" />
    <result column="SRGMTypeId_map" jdbcType="INTEGER" property="srgmtypeidMap" />
    <result column="DSTypeId_map" jdbcType="INTEGER" property="dstypeidMap" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    MapId, SRGMTypeId_map, DSTypeId_map
  </sql>
  <select id="selectByExample" parameterType="com.SRGMS.model.SrgmDsMapExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from srgm_ds_map
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from srgm_ds_map
    where MapId = #{mapid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from srgm_ds_map
    where MapId = #{mapid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.SRGMS.model.SrgmDsMapExample">
    delete from srgm_ds_map
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.SRGMS.model.SrgmDsMap">
    insert into srgm_ds_map (MapId, SRGMTypeId_map, DSTypeId_map
      )
    values (#{mapid,jdbcType=INTEGER}, #{srgmtypeidMap,jdbcType=INTEGER}, #{dstypeidMap,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.SRGMS.model.SrgmDsMap">
    insert into srgm_ds_map
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mapid != null">
        MapId,
      </if>
      <if test="srgmtypeidMap != null">
        SRGMTypeId_map,
      </if>
      <if test="dstypeidMap != null">
        DSTypeId_map,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mapid != null">
        #{mapid,jdbcType=INTEGER},
      </if>
      <if test="srgmtypeidMap != null">
        #{srgmtypeidMap,jdbcType=INTEGER},
      </if>
      <if test="dstypeidMap != null">
        #{dstypeidMap,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.SRGMS.model.SrgmDsMapExample" resultType="java.lang.Long">
    select count(*) from srgm_ds_map
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update srgm_ds_map
    <set>
      <if test="record.mapid != null">
        MapId = #{record.mapid,jdbcType=INTEGER},
      </if>
      <if test="record.srgmtypeidMap != null">
        SRGMTypeId_map = #{record.srgmtypeidMap,jdbcType=INTEGER},
      </if>
      <if test="record.dstypeidMap != null">
        DSTypeId_map = #{record.dstypeidMap,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update srgm_ds_map
    set MapId = #{record.mapid,jdbcType=INTEGER},
      SRGMTypeId_map = #{record.srgmtypeidMap,jdbcType=INTEGER},
      DSTypeId_map = #{record.dstypeidMap,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.SRGMS.model.SrgmDsMap">
    update srgm_ds_map
    <set>
      <if test="srgmtypeidMap != null">
        SRGMTypeId_map = #{srgmtypeidMap,jdbcType=INTEGER},
      </if>
      <if test="dstypeidMap != null">
        DSTypeId_map = #{dstypeidMap,jdbcType=INTEGER},
      </if>
    </set>
    where MapId = #{mapid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.SRGMS.model.SrgmDsMap">
    update srgm_ds_map
    set SRGMTypeId_map = #{srgmtypeidMap,jdbcType=INTEGER},
      DSTypeId_map = #{dstypeidMap,jdbcType=INTEGER}
    where MapId = #{mapid,jdbcType=INTEGER}
  </update>
</mapper>