<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SRGMS.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.SRGMS.model.User">
    <id column="UserId" jdbcType="INTEGER" property="userid" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="PassWord" jdbcType="VARCHAR" property="password" />
    <result column="UserPhone" jdbcType="VARCHAR" property="userphone" />
    <result column="UserMail" jdbcType="VARCHAR" property="usermail" />
    <result column="UserTypeId" jdbcType="INTEGER" property="usertypeid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    UserId, UserName, PassWord, UserPhone, UserMail, UserTypeId
  </sql>
  <select id="selectByExample" parameterType="com.SRGMS.model.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where UserId = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where UserId = #{userid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.SRGMS.model.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.SRGMS.model.User">
    insert into user (UserId, UserName, PassWord, 
      UserPhone, UserMail, UserTypeId
      )
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{userphone,jdbcType=VARCHAR}, #{usermail,jdbcType=VARCHAR}, #{usertypeid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.SRGMS.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        UserId,
      </if>
      <if test="username != null">
        UserName,
      </if>
      <if test="password != null">
        PassWord,
      </if>
      <if test="userphone != null">
        UserPhone,
      </if>
      <if test="usermail != null">
        UserMail,
      </if>
      <if test="usertypeid != null">
        UserTypeId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="usermail != null">
        #{usermail,jdbcType=VARCHAR},
      </if>
      <if test="usertypeid != null">
        #{usertypeid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.SRGMS.model.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.userid != null">
        UserId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        UserName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        PassWord = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.userphone != null">
        UserPhone = #{record.userphone,jdbcType=VARCHAR},
      </if>
      <if test="record.usermail != null">
        UserMail = #{record.usermail,jdbcType=VARCHAR},
      </if>
      <if test="record.usertypeid != null">
        UserTypeId = #{record.usertypeid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set UserId = #{record.userid,jdbcType=INTEGER},
      UserName = #{record.username,jdbcType=VARCHAR},
      PassWord = #{record.password,jdbcType=VARCHAR},
      UserPhone = #{record.userphone,jdbcType=VARCHAR},
      UserMail = #{record.usermail,jdbcType=VARCHAR},
      UserTypeId = #{record.usertypeid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.SRGMS.model.User">
    update user
    <set>
      <if test="username != null">
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PassWord = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        UserPhone = #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="usermail != null">
        UserMail = #{usermail,jdbcType=VARCHAR},
      </if>
      <if test="usertypeid != null">
        UserTypeId = #{usertypeid,jdbcType=INTEGER},
      </if>
    </set>
    where UserId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.SRGMS.model.User">
    update user
    set UserName = #{username,jdbcType=VARCHAR},
      PassWord = #{password,jdbcType=VARCHAR},
      UserPhone = #{userphone,jdbcType=VARCHAR},
      UserMail = #{usermail,jdbcType=VARCHAR},
      UserTypeId = #{usertypeid,jdbcType=INTEGER}
    where UserId = #{userid,jdbcType=INTEGER}
  </update>
</mapper>